/* 重置一些默认的浏览器样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* 设置字体 */
  line-height: 1.6; /* 设置行高 */
  background-color: #f4f4f9; /* 设置背景色 */
  color: #2b002e; /* 设置文字颜色 */
  border: 20px #a18de1 solid;
  padding: 20px; /* 设置内边距 */
}

header,
footer {
  background-color: #82629a; /* 头部和页脚的背景色 */
  color: #fff; /* 头部和页脚的文字颜色 */
  text-align: center; /* 文本居中 */
  padding: 10px 0; /* 上下内边距 */
}

nav ul {
  list-style: none; /* 移除列表项的默认样式 */
  padding: 0; /* 移除默认的内边距 */
  display: flex; /* 使用弹性盒子布局 */
  justify-content: center; /* 水平居中 */
}

nav ul li {
  margin: 0 10px; /* 设置列表项之间的间距 */
}

nav ul li a {
  color: #fff; /* 链接颜色 */
  text-decoration: none; /* 移除下划线 */
  padding: 5px 10px; /* 链接的内边距 */
  border-radius: 5px; /* 边框圆角 */
  transition: background-color 0.3s; /* 平滑过渡效果 */
}

nav ul li a:hover {
  background-color: #9580ad; /* 鼠标悬停时的背景色 */
}

main {
  background-color: #fff; /* 主要内容区域的背景色 */
  padding: 20px; /* 内边距 */
  margin-top: 20px; /* 上边距 */
  border-radius: 8px; /* 边框圆角 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 盒子阴影 */
}

section {  
  margin-bottom: 20px;  
  min-height: 80vh;  
  background-image: url('images/7.png');  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  border-radius: 20px; /* 添加圆角 */  
  box-shadow: 0 0 20px rgba(204, 131, 198, 0.6); /* 添加阴影来模拟立体效果 */  
  border: none; /* 如果需要的话，可以去掉原有的边框 */  
}

footer {
  margin-top: 20px; /* 页脚与主要内容区域之间的间距 */
  font-size: 0.875em; /* 减小页脚文字的字号 */
}

/* 响应式设计：在小屏幕设备上调整布局 */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column; /* 垂直布局 */
  }

  nav ul li {
    margin: 5px 0; /* 移除水平间距，添加垂直间距 */
  }
}
